<ul>
  <button><a routerLink="/">Student List</a></button>
  <button><a routerLink="/employeelist">Employee List</a></button>
  <button><a routerLink="/fruit">Fruit List</a></button>
  <button><a routerLink="/course">Course List </a></button>
  <button><a routerLink="/book">Book List</a></button>
  <button><a routerLink="/city">City List </a></button>
  <button><a routerLink="/movie">Movie Listt</a></button>
  <button><a routerLink="/car">Car Model List </a></button>
  <button><a routerLink="/product">Product List</a></button>
  <button><a routerLink="/subject">Subject List</a></button>

</ul>


<router-outlet></router-outlet>
